@import '../node_modules/construct-ui/src/_shared/_colors.scss';

body {
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	margin: 0;
	color: #cecece;
	background: #1d1e21;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: scroll;
}

.container {
	padding-bottom: 100px;
}

a {
	text-decoration: none !important;
	color: #5c5edc;
	outline: none;
}

a:hover {
	color: #fff;
}

h1 {
	color: $grey100;
}

h2 {
	color: $grey200;
}

h3 {
	color: $grey300;
}

@import '../node_modules/construct-ui/lib/index.css';

.cui-col-12 > div {
	padding: 10px;
	border: 1px solid black;
	transition: 0.3s;
	cursor: pointer;
	transition: max-height 0.15s ease-out;
	max-height: 1000px;
	overflow: hidden;
}

.timestamp {
	float: right;
}

.color-red {
	background-color: $red400;
	color: $grey50;
	
	&:hover {
		background-color: $red700;
	}
}

.color-green {
	background-color: $green400;
	color: $grey50;

	&:hover {
		background-color: $green700;
	}
}

.color-orange {
	background-color: $orange400;
	color: $grey50;

	&:hover {
		background-color: $orange700;
	}
}

.color-repo {
	background-color: #667fbb;
	color: $grey50;
}

.section-header {
	background-color: #667fbb;
    font-weight: bold;
    font-size: large;
}

.tests-section {
	padding: 0;
	max-height: 1000px;
}

.tests-section > .cui-col-12 {
	border: 1px solid black;
	box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.75);
	margin-bottom: 10px;
}

.inner-test {
	padding-left: 20px;
}

.pad-left {
	padding-left: 15px;
}